@import 'tailwindcss';
@import './ayu-theme.css';

@custom-variant dark (&:where(.dark, .dark *));

#app {
  height: 400px;
  width: 324px;
  overflow: hidden;
}

@theme {
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'monospace';
}
